/* 
  *
    Main Style 
  *
  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 960px;
}

/* 
  *
    product Style 
  *
  */

.product {
  margin: 5rem;
  width: 720px;
  display: flex;
  margin-left: -230px;
}

.product__image {
  max-width: 50%;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.product__image > img {
  height: 405px;
  object-fit: contain;
  max-width: 100%;
}

.product__info {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-self: stretch;
  justify-content: flex-start;
  align-items: stretch;
  
}

.product__info > h1 {
  text-align: center;
  color: var(--secondary-color);
  margin: 0 0 1.5rem 0;
  padding: 0.5rem 0;
  text-transform: uppercase;
  
}

.product__info > p {
  text-align: justify;
  font-weight: bold;
  padding: 0.5rem 0;
  margin: 0 0 1rem 0 ;
  
}

.product__info > strong {
  text-align: left;
  color: var(--primary-color);
  margin: 0 0 1rem 0;
  font-size: x-large;
}

