/* 
  *
  Shared Style 
  *
  */

  .cta {
    background-color: var(--accent-color);
    display: inline-flex;
    align-self: flex-start;
    padding: 0.1rem 1.25rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25));
    font-size: x-large;
    
  }
  
  .divisor{
    width: 100%;
    border: 5px solid var(--secondary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    margin: 1rem 0;
  margin-left: -230px;

  }