html{
  padding: 0;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

ul {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, small, a, strong{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  
}
